.App {
  text-align: center;
}

nav {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  padding: 8px 0;
}
nav img {
  height: 100%;
}

nav a {
  color: #efefef;
  font-weight: bold;
  font-style: italic;
  margin-left: 1rem;
  text-decoration: none;
  border-bottom: 2px solid #efefef;
  padding-bottom: 5px;
  transition: 0.2s ease;
}
nav a:hover {
  color: #ffff;
}
nav div,
footer div {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #ffff;
}

.sticky-nav #first-logo,
footer #first-logo {
  border: 1px solid #bdc3c7e2;
  border-radius: 50%;
}

.sticky-nav a {
  color: #1d1d1d;
  border-bottom: 2px solid #1d1d1d;
}

.sticky-nav a:hover {
  color: black;
}

section {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

section img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#back {
  z-index: -3;
}
#middle {
  z-index: -2;
  top: 4.5rem;
  left: 23vw;
}
#front {
  z-index: -1;
}

.hero h1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 6rem;
  line-height: 5.1rem;
}

.hero h1 span {
  background: -webkit-linear-gradient(#3e4e6c 60%, #1d1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  width: 60vw;
  margin: auto;
  padding-top: 2rem;
}

.title h2 {
  width: 190px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 4rem;
  color: #21293970;
  font-weight: 700;
}

.title span {
  font-size: 5rem;
  position: absolute;
  left: 0;
}

.title p {
  margin-left: 3rem;
  text-align: left;
}

footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: #3e4e6c;
  padding: 7px 0;
  font-style: italic;
  color: white;
  align-items: center;
}

footer img {
  height: 3rem;
}

footer div,
footer p {
  opacity: 0.3;
  font-size: 0.7rem;
}

@media (max-width: 500px) {
  #middle {
    left: auto;
    top: 10rem;
  }
  .hero h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  #second-logo {
    display: none;
  }

  .title {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .title p {
    margin: 0;
    width: 100%;
  }
}
